/* Custom CSS Settings */

/*--------------------------------------------------------------*/

/*Sitewide styles*/
/*-----------------------*/

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    src: url('/theme/academi/fonts/nunito-medium/Nunito-Medium.eot') format('embedded-opentype'),
        url('/theme/academi/fonts/nunito-medium/Nunito-Medium.woff') format('woff'),
        url('/theme/academi/fonts/nunito-medium/Nunito-Medium.woff2') format('woff2'),
        url('/theme/academi/fonts/nunito-medium/Nunito-Medium.ttf') format('truetype'),
        url('/theme/academi/fonts/nunito-medium/Nunito-Medium.otf') format('opentype');
}

.body { 
    font-family: 'Nunito' !important;
}

/* Buttons' rounded corners*/
.btn.btn-primary {
    border-radius: 10px;
    font-family: 'Nunito' !important;
}

.btn.btn-secondary {
    border-radius: 10px;
    font-family: 'Nunito' !important;
}

/*Dropdown buttons font*/
.dropdown-toggle.btn.btn-outline-secondary {
    font-family: 'Nunito';
}

/*Links throughout the ui*/
a {
    border-radius: 10px !important;
}

/*-----------------------*/
/*End of sitewide styles*/

/*--------------------------------------------------------------*/

/*Login page styles*/
/*-----------------------*/

.login-container {
    padding-bottom: 18px;
    margin-bottom: 0;
}

#logoimage {
    max-height: 68px;
    margin-bottom: 20px;
}

#username {
    font-family: 'Nunito';
}

#password {
    font-family: 'Nunito';
}

/*MS login option*/
.login-container h2.login-heading {
    font-size: 1.03rem;
    margin-bottom: 1.0rem;
    color: #0e62ac;
}

.btn.login-identityprovider-btn.btn-block {
    background: #d2c6ea4d;
}

.login-container .login-identityproviders .login-identityprovider-btn {
    border-color: #a186d6;
    margin-top: 10px;
}

/*Cookies section on login box*/
.login-wrapper .d-flex {
    display: none !important;
}

/*-----------------------*/
/*End of login page styles*/

/*--------------------------------------------------------------*/

/*Header styles*/
/*------------------------*/

/*Header height*/
#header {
    height: 80px;
}

/*Header sideways padding*/
@media (min-width:992px) {
    #header.fixed-top {
        padding: 0 75px;
    }
}

/*#header {*/
/*    padding: 95px;*/
/*}*/

/*White header when searching*/
#searchform-navbar {
    height: 75px;
}

/*vECO logo being shown on left drawer (mobile)*/
.logo.py-1.h-100 {
    display: none;
}

/*Styles so that the drawer can be shown properly (mobile)*/
.drawerheader {
    margin-top: 10px;
}

/*vECO header logo*/
nav.navbar .logo img {
    max-height: 37px;
}

/*vECO header logo right margin*/
.navbar-brand.has-logo {
    margin-right: 30px;
}

/*Margin added to all the elements in the header*/
.nav-link {
    margin-left: 10px;
}

/*Search and notification margin (between them)*/
#header.navbar.fixed-top #usernavigation .nav-link {
    padding: 0px;
    border: 0;
}

/*Notifiaction counter over bell*/
.count-container {
    margin-right: -5px;
    color: #fff;
    background: #ca3120;
}

/*Notification page main container*/
.notification-area {
    margin-top: 15px;
    border-radius: 10px;
}

/*Message bubble on header*/
.icon.fa.fa-comment-o.fa-fw {
    display: none;
}

/*Profile pic dropdown menu*/
#user-action-menu {
    border-radius: 10px !important;
}

/*Language icon on header*/
/*.icon.fa.fa-language.fa-fw.mr-1 {*/
/*    font-size: 16px;*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    margin: 0;*/
/*    padding: 5px;*/
/*    box-sizing: content-box;*/
/*    margin-right: .5rem;*/
/*}*/

/*Language chooser menu*/
/*#lang-action-menu {*/
/*    margin-left: 40px;*/
/*}*/

/*Editing switch*/
.custom-control.custom-switch {
    margin-top: 1px;
}

/*Space between login button when visiting as guest*/
.login.pl-2 a {
    margin-left: 15px;
}

/*Name of the contact*/
.ml-2.font-weight-bold {
    margin-top: 10px;
}

/*------------------------*/
/*End of header styles*/

/*--------------------------------------------------------------*/

/*Homepage slider styles*/
/*-----------------------*/

/*Black translucent box*/
.heading-content {
    border-radius: 10px;
}

.homepage-carousel .controls a.carousel-control::before {
    margin-top: 2px;
}

/*-----------------------*/
/*End of homepage slider styles*/

/*--------------------------------------------------------------*/

/*Marketing spot styles*/
/*-----------------------*/

/*Text below the "About us" title*/
.info-head p {
    font-size: 18px;
}

/*Alignment of elements inside the mktn spot*/
.marketing-spot .row {
    align-items: center;
}

/*-----------------------*/
/*End of marketing spot styles*/

/*--------------------------------------------------------------*/

/*Announcements styles*/
/*-----------------------*/

/*Modified date*/
.modified {
    font-style: italic;
}

/*Edited date*/
.edited {
    font-style: italic;
}

/*Forum post card*/
.forumpost {
    border-radius: 10px;
}

/*Margin between announcement's title and author*/
.mb-3 {
    margin-top: 5px;
}

/*Announcement response input box */
.form-control {
    margin-bottom: 10px;
    font-family: 'Nunito';
}

/*"Responder en privado" checkbox*/
.form-check.form-check-inline {
    margin-left: 20px;
}

/*Move discussion to... and Move button*/
#forummenu {
    margin-top: -5px;
}

/*Settings button*/
.dropdown-toggle.btn.btn-outline-secondary {
    margin-top: -5px;
    border-radius: 10px;
}

/*announcement card*/
.d-flex.border.p-2.mb-2.forumpost.focus-target.firstpost.starter {
    margin-top: 30px;
}

/*-----------------------*/
/*End of announcements styles*/

/*--------------------------------------------------------------*/

/*Courses categories styles*/
/*-----------------------*/

/*Padding between the title and the categories themselves*/
.collapsible-actions {
    padding: 5px;
}

/*Border radius of the course categories*/
.course_category_tree.frontpage-category-names .category > .info {
    border-radius: 15px;
}

.collapsible-actions a {
    font-weight: 400;
    font-size: 14px;
    color: #656565;
    line-height: 24px;
}

/*Wrapping of categories*/
.course_category_tree.frontpage-category-names .content > .subcategories {
    display: flex;
    flex-wrap: wrap;
}

/*-----------------------*/
/*End of courses categories styles*/

/*--------------------------------------------------------------*/

/*My courses page styles*/
/*-----------------------*/

/*Course image when having +3 courses*/
.mw-100.w-100 {
    margin-left: 40px;
}

/*"All" button*/
#groupingdropdown {
    border-radius: 10px;
}

#displaydropdown,
#sortingdropdown,
#groupingdropdown {
    margin-top: 0px !important;
}

/*-----------------------*/
/*End of my courses page styles*/

/*--------------------------------------------------------------*/

/*Site admin page*/
/*-----------------------*/

/*List of settings*/
li {
    margin-left: 7px;
}

/*-----------------------*/
/*End of site admin page*/

/*--------------------------------------------------------------*/

/*Search box styles*/
/*-----------------------*/

/*Search boxes rounded corners*/
.simplesearchform .input-group input.form-control {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn.btn-primary.search-icon {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

/*-----------------------*/
/*End of search feature styles*/

/*--------------------------------------------------------------*/

/*Profile page styles*/
/*-----------------------*/

/*Profile pic aligned within main HTML region*/
.page-context-header.d-flex.align-items-center.mb-2 {
    margin-left: 20px;
}

/*Message button*/
#message-user-button {
    display: none;
}

/*Name of the person*/
.h2.mb-0 {
    margin-left: 20px;
}

/*-----------------------*/
/*End of profile page styles*/

/*--------------------------------------------------------------*/

/*Course page styles*/
/*-----------------------*/

/*Breadcrumbs*/
#page-navbar {
    margin-top: 20px;
}

/*Course index links*/
.courseindex-link.text-truncate {
    width: 100%;
    height: 100%;
}

/*"Add an activity or resource" button*/
.activity-add-text {
    font-family: Nunito;
}

/*Course index left tab*/
.drawer.drawer-left {
    width: 230px;
}

/*Info icon inside a course's index*/
#courseindexdrawercontrols {
    margin-top: 10px;
}

/*Block's right tab*/
.drawer.drawer-right {
    width: 345px;
    max-width: 345px;
}

/*Activity/resource name on top of its title*/
.text-muted.text-uppercase.small.line-height-3 {
    display: none;
}

/*TinyMCE editor*/
.tox-tinymce {
    border-radius: 10px;
}

/*Embedded window styles*/
#resourceobject {
    height: 733px !important;
    border-radius: 10px;
    border-style: none;
    border: 1px solid #0e62ac;
}

/*-----------------------*/
/*End of course page styles*/

/*--------------------------------------------------------------*/

#region-main {
    float: none;
    padding: 30px 40px;
    margin-top: 30px; 
    border-radius: 10px;
    overflow-x: visible;
    margin-top: 0;
    min-height: 290px;
}

.mt-1, .my-1 {
    margin-top: 1rem!important;
}

/*Distance between collapse/expand button and title*/
.mr-1, .mx-1 {
    margin-right: 10px !important;
}

/*--------------------------------------------------------------*/

/*Blocks styles*/
/*------------------------*/

/*Block's tab close button*/
.btn.icon-no-margin {
    margin-top: 10px;
}

/*OpenAI's block styles*/
/*.block_openai_chat svg {*/
/*    transform: scale(2);*/
/*}*/

/*#openai_input {*/
/*    font-family: Nunito;*/
/*}*/

/*.block_openai_chat #control_bar #refresh {*/
/*    color: var(--white);*/
/*}*/

/*.block_openai_chat #input_bar {*/
/*    display: flex;*/
/*    width: 1070px;*/
/*}*/

/*.block_openai_chat #control_bar #refresh {*/
/*    background-color: var(--secondary);*/
/*    display: none;*/
/*    color: #000;*/
/*}*/

/*Calendar block styles*/
.arrow_text {
    display: none;
}

/*Dashboard's blocks styles*/
.block {
    border-radius: 10px;
}

/*Block's corners*/
.card-text.content.mt-3 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*"All courses" filter on calendar*/
#calendar-course-filter-1 {
    font-family: 'Nunito';
}
/*------------------------*/
/*End of blocks styles*/

/*--------------------------------------------------------------*/

/*Footer styles*/
/*------------------------*/

/*Vertical alignment for the footer sections*/
#footer .footer-main .infoarea {
    padding-top: 35px;
    text-align: -webkit-center;
}

#footer .footer-main .contact-info {
    padding-top: 45px;
}

#footer .footer-main .social-media {
    padding-top: 55px;
}

/*Help button styles*/
.btn.btn-icon.bg-secondary.icon-no-margin.btn-footer-popover {
    display: none;
}

.footer-section.p-3.border-bottom {
    display: none;
}

.footer-section.p-3 {
    display: none;
}

/*Copyright footer color*/
#footer .footer-bottom {
    background: #222432;
}

.footer-bottom a {
    text-decoration: none;
}

/*------------------------*/
/*End of footer styles*/